*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* body {background-color: rgb(209, 197, 237); } */
body {background-color: white; 
}
header > nav{
  min-width: 150px;

}

#text  h2{

  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
 
}
#text  h3{
    color: rgb(87, 31, 215);
  font-family: "Spirax", system-ui;
  font-weight: 800;
  font-style: normal;

}

#logoAtext img{
  height: 15rem;
  width: 20rem;
}
#topText{ 
min-width: 320px;
 background-color:rgb(87, 31, 215);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 3rem;

}
#topText a, #topText h3{
  font-size: 1rem;
  text-align: center;
  color: white;

}

#topText button{
  background-color: rgb(120, 102, 163);
  border: 0;

}
.closeTopText{
  font-size: 1.25rem;
  color: white;
}
.menuBook{
  background-color: rgb(225, 174, 78);
  padding: .25rem;
  color:blue;
  
}
#headerSection2{
  background-color:  rgb(245, 197, 108) ;
  color: white;
}
#headerSection1{
  background-color: #fff;
  
}
#headerSection3{
  background-color:  rgb(87, 31, 215);
  color: white;
}


/* image slider */

.slider {
  width: 100%;
  height: 510px;
  position: relative;
}

.slider img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slider img:first-child {
  z-index: 1;
}

.slider img:nth-child(2) {
  z-index: 0;
}


.navigation-button {
  text-align: center;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;}

/* Section 1 in body */

#bigText{
  font-weight: 1000; 
  color: rgb(242,174,47) ;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.imgBody{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.contactUs{
  background-color:  rgb(242,174,47)  ;
  color: white;
}
.aboutUs{
  background-color:  rgb(242,174,47)  ;
color: white;
}
  
#line1 h3{
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  color: white;
}
#line1 h2{
  font-family: "EB Garamond", serif;
  font-weight: 1000;
  color:rgb(242,174,47);
}


.bodySection2{
  background-color:  rgb(87, 31, 215);
}

.bodySection3 .card{
margin:auto;
margin-top: 1rem;}

.typeImg {
  width: 100%;
  transition: all 1.5s;
}

.typeButton:hover .typeImg {
  transform: scale(1.1);
}

.typeButton {
  background-color: white;
  border: none;
  margin-top: 3rem;
}

.card-img-top1{
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
}

.card1{
  background-color:white ;
}
.card1 :hover{
  background-color:rgb(242,174,47) ;
}
.popularRide{

}

.popularRide{
  margin-left: 1rem;
  margin-right: 0;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/* Price section */
.priceName{
  color: darkorange;
}
.priceAmount{
  color: rgb(87, 31, 215);
}
.priceBuyButton{
  margin-top: 1rem;
  padding: .5rem 1rem;
  background-color:rgb(242,174,47) ;
  border: none;
  border-radius: 5rem;
  margin-bottom: 1rem;
}
.priceBuyButton{
  margin-top: 1rem;
}
.priceCol{
  padding: .5rem;
}
.priceCol{
  max-width: 300px;
}

.priceRow{
  margin-left: 0;
  margin-right: 0;
}
.priceImage{
  height: 100%;
  width: 100%;
  
}
.finalSection, .addressContact1, .addressContact2{
  margin-left: auto;
  margin-right: auto;
}
.addressContact1 p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f2ae2f;
  font-weight: 600;
}

footer {
  background-color: rgb(87, 31, 215);
}

.FooterContent :hover{
  color:rgb(242,174,47);
}

.copyrightIt{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerIcons{
  font-size: 1.75rem;
}
.footerContainer{
  margin-left: auto;
  margin-right: auto;
}